<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-10">
                <form class="row g-3 needs-validation" novalidate #docregister="ngForm" (ngSubmit)="docregister.valid && Dregister()">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <h1 align="center" style="background-color: #75E6DA;">DOCTOR REGISTRATION</h1>
                        <div>
                        <label for="" class="form label">NAME</label>
                        <input type="text" class="form-control" [(ngModel)]="data.doctorName" name="doctor name" required>
                        <div class="invalid-feedback">
                            Enter your name.
                        </div>
                        </div>
                        <div>
                        <label for="" class="form label">DEPARTMENT</label>
                        <select name="" id="" class="form-control" [(ngModel)]="data.doctorDepartment" name="department" required>
                            <option value="SELECT">SELECT</option>
                            <option value="General Medicine">General Medicine</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="Cardiology">Cardiology</option>
                            <option value="Dermatology">Dermatology</option>
                        </select>
                        <div class="invalid-feedback">
                            Enter your department.
                        </div>
                        </div>
                        <div>
                        <label for="" class="form label">USERNAME</label>
                        <input type="text" class="form-control" [(ngModel)]="data.doctorUsername" name="username" maxlength="15" minlength="5" required>
                        <div class="invalid-feedback">
                            Please provide a valid username.
                        </div>
                        </div>
                        <div>
                        <label for="" class="form label">PASSWORD</label>
                        <input type="password" id="" class="form-control" [(ngModel)]="data.doctorPassword" name="password" maxlength="8" minlength="8" required>
                        <div class="invalid-feedback">
                            Provide a secure password(8 characters).
                        </div>
                        </div>
                        <div>
                        <label for="" class="form label">DOCTOR UNIQUE ID</label>
                        <input type="text" class="form-control" [(ngModel)]="data.doctorUniqueId" name="uniqueid">
                        </div>
                        <br><br><button class="btn btn-primary">REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>