<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-10">
                <form class="row g-3 needs-validation" novalidate #patlogin="ngForm" (ngSubmit)="patlogin.valid && Plogin()">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                 <h1 align="center" style="background-color: #75E6DA;">PATIENT LOGIN</h1>
                 <div>
                 <label for="" class="form label">USERNAME</label>
                 <input type="text" class="form-control" [(ngModel)]="dataa.patientUsername" name="username" required>
                 <div class="invalid-feedback">
                    Please provide a valid username.
                </div>
                 </div>
                 <div>
                 <label for="" class="form label">PASSWORD</label>
                 <input type="password" name="password" id="" class="form-control" [(ngModel)]="dataa.patientPassword" required>
                 <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
                 </div>
                 <br><br>
                 <button class="btn btn-primary">SIGN IN</button>
                </div>
               </form>
            </div>
        </div>
    </div>
</div>

