<app-patnav></app-patnav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-10">
            <form class="row g-3 needs-validation" novalidate #bookappointment="ngForm" (ngSubmit)="bookappointment.valid && Bapp()">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 align="center" style="background-color: #75E6DA;">APPOINTMENT BOOKING PORTAL</h1> 
            <div>
            <label for="" class="form-label">NAME</label>
            <input type="text" class="form-control" [(ngModel)]="data4.bookname" name="bookname" required>
            <div class="invalid-feedback">
              Enter your name.
          </div>
            </div>
            <div>
            <label for="" class="form-label">AGE</label>
            <input type="text" class="form-control" [(ngModel)]="data4.bookage" name="bookage" required>
            <div class="invalid-feedback">
              Enter your age.
          </div>
            </div>
            <div>
            <label for="" class="form-label">DATE OF APPOINTMENT</label>
            <input type="date" class="form-control" [(ngModel)]="data4.bookdate" name="bookdate" required>
            <div class="invalid-feedback">
              Select date of appointment.
          </div>
            </div>
            <div>
            <label for="" class="form-label">DOCTOR</label>
            <select name="bookdoc" [(ngModel)]="data4.bookdoc" class="form-control" required>
            <option value="SELECT">SELECT</option>
            <option *ngFor="let i of data7" value="{{i.doctorName}}">{{i.doctorName}}</option>
            </select>
            <div class="invalid-feedback">
              Select your doctor.
          </div>
            </div>
            <br>
            <button class="btn btn-primary">
            BOOK APPOINTMENT
            </button>
            </div>
            </form>
            
        </div>
    </div>
</div>
